<head th:fragment="header">
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/assets/fontawesome/css/all.min.css"/>

    <script src="/public/assets/jquery.min.js"></script>
    <script src="/public/assets/jquery-ui.min.js"></script>
    <script src="/public/assets/popper.min.js"></script>
    <script src="/public/assets/date.js"></script>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/assets/fullcalendar/lib/main.min.js"></script>	
    <script src="/public/assets/fullcalendar/lib/locales-all.min.js"></script>	
    <link rel="stylesheet" href="/public/assets/fullcalendar/lib/main.min.css"/>

    <script src="/public/js/classes.js"></script>
    <script src="/public/js/calendar.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/patients.js"></script>

    <link rel="stylesheet" href="/public/css/calendar.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/patients.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>

