<div id="patients-container" class="content-container hidden" th:fragment="patients">
    <div id="search-field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" id="name-input" class="form-control" placeholder="Patient Name" aria-label="patient name" aria-describedby="name-input">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
          </div>
          <input type="text" id="phone-input" class="form-control" placeholder="Patient Phone" aria-label="patient name" aria-describedby="search-field">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          </div>
          <input type="text" id="mail-input" class="form-control" placeholder="Patient Mail" aria-label="patient mail" aria-describedby="search-field">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
          </div>
          <input type="text" value="20" style="width: 5%" id="page-size-input" class="form-control" placeholder="Page Size" aria-label="patient name" aria-describedby="name-input">
            <button id="newPatient" style="margin-left: 49%" type="button" class="btn btn-primary" data-toggle="modal" data-target="#patientModal"><i class="fas fa-plus"></i> Add Patient</button>
        </div>


    </div>

    <nav aria-label="Patient Navigation">
      <ul class="pagination-patient pagination justify-content-center">
      </ul>
    </nav>
    <div class="list-group patient-list">
    </div>
    <nav aria-label="Patient Navigation">
      <ul class="pagination-patient pagination justify-content-center">
      </ul>
    </nav>

    <!-- Patient Modal -->
    <div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="newPatient" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="patientModalTitle">New Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Name: </span>
              </div>
              <input name="patient-name" type="text" class="form-control" placeholder="John Doe" aria-label="Name" aria-describedby="Name-addon" id="nameInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Phone: </span>
              </div>
              <input name="patient-phone" type="text" class="form-control" placeholder="5555555555" aria-label="Phone" aria-describedby="Phone-addon" id="phoneInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">E-Mail: </span>
              </div>
              <input name="patient-email" type="text" class="form-control" placeholder="john.doe@gmail.com" aria-label="Email" aria-describedby="Email-addon" id="emailInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">TC No: </span>
              </div>
              <input name="patient-tc" type="text" class="form-control" placeholder="11111111111" aria-label="Tc" aria-describedby="Tc-addon" id="tcInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">HES Code: </span>
              </div>
              <input name="patient-hes" type="text" class="form-control" placeholder="444444" aria-label="HES" aria-describedby="HES-addon" id="hesInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Protocol Numbers: </span>
              </div>
              <div class="patient-tag-container-container">
                <div class="patient-tag-container">
                  <input/>  
              </div>
            </div>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="patientModalSave">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Password Modal -->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <input type="text" id="passwordModalPassword" class="form-control" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-light" type="button" id="passwordModalGenerate"><i class="fa fa-retweet" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="passwordModalSave">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="users-container" class="content-container hidden" th:fragment="users">
    <div id="search-field">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" id="admin-name-input" class="form-control" placeholder="Patient Name" aria-label="patient name" aria-describedby="name-input">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
          </div>
          <input type="text" id="admin-phone-input" class="form-control" placeholder="Patient Phone" aria-label="patient name" aria-describedby="search-field">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          </div>
          <input type="text" id="admin-mail-input" class="form-control" placeholder="Patient Mail" aria-label="patient mail" aria-describedby="search-field">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-tags"></i></label>
          </div>
          <select class="custom-select" id="admin-role-input">
            <option selected value="%25">All</option>
            <option value="ADMIN">Admin</option>
            <option value="DOCTOR">Doctor</option>
            <option value="PATIENT">Patient</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
          </div>
          <input type="text" value="20" style="width: 5%" id="admin-page-size-input" class="form-control" placeholder="Page Size" aria-label="patient name" aria-describedby="name-input">
            <button id="admin-newPatient" style="margin-left: 49%" type="button" class="btn btn-primary" data-toggle="modal" data-target="#patientModal"><i class="fas fa-plus"></i> Add Patient</button>
        </div>
    </div>

    <nav aria-label="Patient Navigation">
      <ul class="pagination pagination-admin justify-content-center">
      </ul>
    </nav>
    <div class="list-group patient-list-admin">
    </div>
    <nav aria-label="Patient Navigation">
      <ul class="pagination pagination-admin justify-content-center">
      </ul>
    </nav>

    <!-- Patient Modal -->
    <div class="modal fade" id="admin-patientModal" tabindex="-1" role="dialog" aria-labelledby="newPatient" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="admin-patientModalTitle">New Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Name: </span>
              </div>
              <input name="patient-name" type="text" class="form-control" placeholder="John Doe" aria-label="Name" aria-describedby="Name-addon" id="admin-nameInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Phone: </span>
              </div>
              <input name="patient-phone" type="text" class="form-control" placeholder="5555555555" aria-label="Phone" aria-describedby="Phone-addon" id="admin-phoneInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">E-Mail: </span>
              </div>
              <input name="patient-email" type="text" class="form-control" placeholder="john.doe@gmail.com" aria-label="Email" aria-describedby="Email-addon" id="admin-emailInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">TC No: </span>
              </div>
              <input name="patient-tc" type="text" class="form-control" placeholder="11111111111" aria-label="Tc" aria-describedby="Tc-addon" id="admin-tcInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">HES Code: </span>
              </div>
              <input name="patient-hes" type="text" class="form-control" placeholder="444444" aria-label="HES" aria-describedby="HES-addon" id="admin-hesInputModal">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Role: </label>
              </div>
              <select class="custom-select" id="admin-roleInputModal">
                <option selected>Choose...</option>
                <option value="ADMIN">Admin</option>
                <option value="DOCTOR">Doctor</option>
                <option value="PATIENT">Patient</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="admin-patientModalSave">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Password Modal -->
    <div class="modal fade" id="admin-passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <input type="text" id="admin-passwordModalPassword" class="form-control" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-light" type="button" id="admin-passwordModalGenerate"><i class="fa fa-retweet" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="admin-passwordModalSave">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>
