<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8"/>
        <title>METIS Admin</title>
        <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/assets/fontawesome/css/all.min.css"/>

        <script src="/public/assets/jquery.min.js"></script>
        <script src="/public/assets/jquery-ui.min.js"></script>
        <script src="/public/assets/popper.min.js"></script>
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <script src="/public/assets/date.js"></script>
        <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/assets/fullcalendar/lib/main.min.js"></script>	
        <script src="/public/assets/fullcalendar/lib/locales-all.min.js"></script>	
        <link rel="stylesheet" href="/public/assets/fullcalendar/lib/main.min.css"/>

        <script src="/public/js/main.js"></script>
        <script src="/public/js/profile.js"></script>
        <script src="/public/js/classes.js"></script>
        <script src="/public/js/calendar.js"></script>
        <script src="/public/js/patients.js"></script>
        <script src="/public/js/users.js"></script>
        <script src="/public/js/disabled.js"></script>

        <link rel="stylesheet" href="/public/css/calendar.css"/>
        <link rel="stylesheet" href="/public/css/disabled.css"/>
        <link rel="stylesheet" href="/public/css/profile.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/patients.css">
        <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    </head>
    <body>
	  <div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Welcome, <p th:text="${name}"</p></div>
		  <div class="list-group list-group-flush">
			<a id="calendar-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#calendar-container">Calendar</a>
			<a id="patients-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#patients-container">Patients</a>
			<a id="users-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#users-container">Users</a>
			<a id="disabled-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#disabled-container">Disabled Rules</a>
			<a id="profile-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#profile-container">Profile</a>
			<a id="settings-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#settings-container">Settings</a>
			<a id="logout-sidebar" href="/login?logout"class="list-group-item list-group-item-action bg-light">Log Out</a>
		  </div>
		</div>
		  <div class="container-fluid">
			<div  th:insert="fragments/calendar_doctor :: calendar" ></div>
			<div  th:insert="fragments/users :: patients"></div>
			<div  th:insert="fragments/users :: users"></div>
			<div  th:insert="fragments/disabled :: disabled"></div>
			<div  th:insert="fragments/settings :: settings"></div>
			<div  th:insert="fragments/profile :: profile"></div>
		  </div>
		</div>
	  </div>

  </body>
</html>
