<!DOCTYPE HTML>
<html>
	<head>
        <meta charset='utf-8' />

        <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>	
        <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/assets/fontawesome/css/all.min.css"/>

        <script src="/public/assets/fullcalendar/lib/main.min.js"></script>	
        <script src="/public/assets/fullcalendar/lib/locales-all.min.js"></script>	
        <link rel="stylesheet" href="/public/assets/fullcalendar/lib/main.min.css"/>
        <script src="/public/assets/jquery.min.js"></script>	

		<script src="/public/js/calendar.js"></script>
        <link rel="stylesheet" href="/public/css/calendar.css"/>

	</head>
	<body>
        <div id='calendar'></div>
	</body>
</html>
