<!DOCTYPE HTML>
<html>
	<head th:insert="fragments/header :: header"></head>
    <body>
	  <div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Welcome, <p th:text="${name}"</p></div>
		  <div class="list-group list-group-flush">
			<a id="calendar-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#calendar-container">Calendar</a>
			<a id="patients-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#patients-container">Patients</a>
			<a id="profile-sidebar" class="sidebar-item list-group-item list-group-item-action bg-light" target="#profile-container">Profile</a>
		  </div>
		</div>

		  <div class="container-fluid">
			<div  id="calendar-container" class="content-container" th:insert="fragments/calendar :: calendar"></div>
			<div  th:insert="fragments/patients :: patients"></div>
		  </div>
		</div>
	  </div>
  </body>
</html>
